<!-- Footer Navbar with links -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item mx-3">
        <a class="nav-link" href="https://www.linkedin.com/in/dalemalapitan/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="https://github.com/dalemalapitan"><i class="fa-brands fa-github fa-2x"></i></a>
      </li>
    </ul>
  </div>

  <!-- CopyRight -->
  <div class="text-center text-white py-2 w-100">
    <p class="mb-0">&copy; <%= new Date().getFullYear() %> Dale's Portfolio. All rights reserved.</p>
  </div>
</nav>
</nav>