<% include partials/header.ejs %>
<% include partials/mainNav.ejs %>

<!-- Main content -->

<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <p class="lead"><%= description %></p>
  </div>
</div>

   <!-- Home Section -->

    <section id="home">
        <h1>Hello, My name is Dale Malapitan!</h1>
        <p>Welcome to my Portfolio, I am a second year student at Ontario Tech University, pursuing a Bachelor's of IT in Technology Management </p>
    </section>

    <section id="about">
        <img src="images/avatar.png" alt="A picture of Dale's avatar">
        <p>I am an avid enthusiast of technology and video games. In my free time I also enjoy physcial activites like rock climbing, weight lifting and snowboarding!</p>
        <video controls autoplay muted>
            <source src="video/IMG_5685.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
    </section>

</main>


<% include partials/bottomNav.ejs %>
<% include partials/footer.ejs %>





 


